/MyConsoleApp/obj/Debug/net9.0/ref/MyConsoleApp.dll
/MyConsoleApp/obj/Debug/net9.0/refint/MyConsoleApp.dll
/MyConsoleApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/MyConsoleApp/obj/Debug/net9.0/apphost.exe
/MyConsoleApp/obj/Debug/net9.0/MyConsol.4CA403AE.Up2Date
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.AssemblyInfo.cs
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.AssemblyInfoInputs.cache
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.assets.cache
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.csproj.AssemblyReference.cache
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.csproj.CoreCompileInputs.cache
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.csproj.FileListAbsolute.txt
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.dll
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.genruntimeconfig.cache
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.GlobalUsings.g.cs
/MyConsoleApp/obj/Debug/net9.0/MyConsoleApp.pdb
/MyConsoleApp/obj/MyConsoleApp.csproj.nuget.dgspec.json
/MyConsoleApp/obj/MyConsoleApp.csproj.nuget.g.props
/MyConsoleApp/obj/MyConsoleApp.csproj.nuget.g.targets
/MyConsoleApp/obj/project.assets.json
/MyConsoleApp/obj/project.nuget.cache
/MyConsoleApp/obj/project.packagespec.json
/MyConsoleApp/obj/rider.project.model.nuget.info
/MyConsoleApp/obj/rider.project.restore.info
